[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/safety-case-core-guidelines"]
	path = external/safety-case-core-guidelines
	url = https://github.com/lasrod/safety-case-core-guidelines.git
