[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/hello_imgui"]
	path = external/hello_imgui
	url = https://github.com/pthom/hello_imgui.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "external/picosha2"]
	path = external/picosha2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "external/safety-case-core-guidelines"]
	path = external/safety-case-core-guidelines
	url = https://github.com/lasrod/safety-case-core-guidelines.git
